*
{
margin:0;
padding:0;
outline:none;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box; 
}
:after, :before
{
margin:0;
padding:0;
outline:none;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}
::-webkit-search-cancel-button {
display: none;
}
a
{
text-decoration:none;
transition:all .5s linear;
-webkit-transition:all .5s linear;
-moz-transition:all .5s linear;
-o-transition:all .5s linear;
-ms-transition:all .5s linear;
}
img{
max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;}*/}*/}*/



}